apiVersion: ako.vmware.com/v1alpha1
kind: HostRule
metadata:
  name: avi_crd_hostrule_tls_cert
  namespace: default
spec:
  virtualhost:
    fqdn: ingress.${clusterName}.${domain}
    enableVirtualHost: true
    tls: # optional
      sslKeyCertificate:
        name: System-Default-Cert-EC
        type: ref